{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
    <h1>This page is the: {{ name }}</h1>
    <p>Variables</p>
    <br>
    <a href="/variables">All Variables</a>
    <br>
    <a href="/new_variable">Create New Variable</a>
    <br>
    <a href="/delete_variable">Delete Variable</a>
</body>
</html>
